* {
    box-sizing: border-box;
    border: #fce798;
    --main-bg: #303326;
    --section-bg: #444433;
    --body-bg: #231a21;
    --even-character: #717371;
    --odd-character:#ddd3d3;
    --bg-color:#acb4b5;
}

body {
    background-color:#ecd9e8;
}

.container {
    width: 100%;
    max-width: 1420px;
    height: 1500px;
    background-color: #b4a8b1;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    
}

.Hero {
    width: 100%;
    height: 480px;
    background-image: url('assets/starWar.webp');
    background-size:contain;
    border-radius: 20px 20px 0 0;
}

.Title {
    width: 30%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 63px;
    font-weight: 600;
    text-shadow: 5px 2px 2px rgb(0, 139, 100);
    text-align: center;
    line-height: 100%;
    color: #fce798;
    position: relative;
    transform: translate(10%, 40%);
}

main {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    gap: 10%;
    height: 680px;
    justify-content: center;
    position: absolute;
    transform: translateY(-10%);
    display: flex;
    flex-direction: row;

}

.selection {
    width: 35%;
    height: 100%;
    background-color: #acb4b5;
    border: 6px solid #fce798;
    border-radius: 16px; 
}

.selection-top {
    width: 100%;
    height: 65px;
    color: #fce798;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    padding : 12px;
    text-align: center;
    border-radius: 16px 16px 0 0;
}
.selection-list {
    width: 100%;
}
.selection-list:hover {
    cursor: pointer;
}
.arrow:hover {
    cursor: pointer;
}
.list-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2b2c2b;
    font-size: 25px;
    padding: 12px;
}

.list-nav {
    color: #fce798;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    padding: 12px;
    text-align: center;
}

.details {
    width: 35%;
    height: 100%;
  
    background-color:#a8c6c9; 
   padding: 12px;
   text-align:justify;
   border: 6px solid #fce798;
    border-radius: 16px;
   
}

.details-top {
    width: 100%;
    height: 72px;
    background-color: var(--main-bg);
    color: #fce798;
    font-family: Verdana, Geneva, Tahoma,, sans-serif;
    font-size: 42px;
    padding-top: 16px;
    text-align: center;
    border-radius: 16px 16px 0 0;
}

.character-details {
    font-family: Verdana, Geneva, Tahoma,, sans-serif;
    font-size: 15px;
    height: 66%;
    background-color: var(--even-character);
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 50px;
    padding-top: 10px;
}

.char-name.name {
    font-size: 28px;
    margin-bottom: 8px;
}


.info-tabs {
    background-color:rgb(4, 19, 97);
    height: 7%;
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding: auto;
   
}

.tab {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 30%;
    text-align:justify;
    background-color:#026d9f;
    border-radius: 10px 10px 0 0;
    padding-top: 12px;
}
.planet.tab {
    background-color:#7ac3e5;
}

.tab:hover {
cursor: pointer;

}

.extra-info {
   
    color: rgb(241, 239, 239);
    background-color: #6a757a;
    margin-bottom: 0;
    height: 45%;
    border-radius: 0 0 16px 16px;
}
.planet-details {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    height: 25%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 40px;
    padding-top: 0px;
}

.planet-name {
    font-size: 18px;
    margin-bottom: 6px;
}
